@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
  }
  
  button, a {
    -webkit-touch-callout: none;
  }
  
  input, textarea, select {
    font-size: 16px;
  }
  
  @media (min-width: 640px) {
    input, textarea, select {
      font-size: inherit;
    }
  }
}

